//====================================================================================================
.footer {
    padding-bottom: toRem(10);
    &__container {
        &:not(:last-child) {
            margin-bottom: toRem(50);
        }
    }
    &__content {
    }
    &__text {
        text-align: center;
        // font-size: toRem(22);
        @include adaptiveValue("font-size", 22, 16, 0, 768, 320);
        margin-bottom: toRem(30);
        position: relative;
        ._decor-arrow {
            position: absolute;
            top: toRem(10);
            left: 52%;
            height: toRem(90);
            @media (max-width: $mobile) {
                left: 50%;
            }
            @media (max-width: $mobileSmall) {
                left: 44%;
                height: toRem(70);
            }
        }
    }
    &__society {
    }
    &__decor {
        position: relative;
        padding-left: toRem(10);
        @media (max-width: $mobile) {
            font-size: toRem(12);
        }
    }
    &__decor-text {
        white-space: nowrap;
        &--vertical {
            transform: rotate(-90deg);
            white-space: nowrap;
            position: absolute;
            bottom: 0;
            padding-top: toRem(10);
            background-color: $lightSilverColor;
            z-index: 2;
            transform-origin: left;
            margin-bottom: toRem(10);
            @media (max-width: $mobile) {
                padding-top: toRem(5);
            }
        }
    }
}
.society {
    &__list {
        display: flex;
        gap: toRem(30);
        @include adaptiveValue("gap", 30, 20, 0, 768, 320);
        justify-content: center;
    }
    &__item {
    }
    &__link {
        @include adaptiveValue("font-size", 40, 30, 0, 768, 320);
        transition: opacity 0.3s;
        &:active {
            opacity: 0.6;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
._icon-insta {
}
._icon-telegram {
}
._orange {
    color: $orangeColor;
}
._upside-down {
    position: relative;
    display: inline-block;
    transform: rotate(180deg) translate(0, -5px);
    margin-right: 5px;
    @media (max-width: $mobile) {
        transform: rotate(180deg) translate(0, -2px);
    }
}

//====================================================================================================
